@import "tailwindcss";

html, body, #root {
  height: 100%;
}

/* Hide scrollbar but keep scrollable */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, Opera */
}